/*Footer*/
footer {
  background-color: #B4FF9F;
  border-radius: 10px;
  font-family: "BIZ UDMincho", serif;
  font-size: 2rem;
  margin-top: 10px;
  justify-content: center; }

.logos_footer {
  width: 30px;
  height: 30px; }

.navbar {
  background-color: #FFA1A1;
  border-radius: 20px;
  font-size: 2rem; }

.dropdown-menu {
  font-size: 2rem;
  background-color: #F9FFA4; }

#carouselExampleCaptions {
  width: 50%; }

.principal_contacto {
  padding: 10px;
  margin: 15px;
  text-align: left;
  border: 10px; }

.contenido-contacto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly; }

.mapa {
  margin: 10px; }

/* Pagina Corte Laser */
.titulo_cortelaser {
  text-align: center;
  margin-bottom: 25px;
  font-size: 3rem; }

.texto_cortelaser {
  text-align: left;
  margin-bottom: 25px;
  font-size: 2rem; }

.lista_cortelaser {
  text-align: justify;
  font-size: 2rem; }

.img_cortelaser {
  height: 35rem; }

/*Pagina Grabados*/
.card {
  width: 30rem;
  margin: 10px;
  font-size: 2rem;
  background-color: #FFA1A1; }

.row {
  justify-content: center; }

.titulo_grabados {
  text-align: center; }

.sub_grabados {
  text-align: left;
  padding: 20px; }

.texto_grabados {
  text-align: justify;
  font-size: 2rem; }

.lista_grabados {
  text-align: left;
  font-size: 2rem;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px; }

/* Pagina Materiales */
.titulo_materiales {
  text-align: center;
  margin-bottom: 25px;
  font-size: 3rem; }

.texto_materiales, .lista_materiales {
  text-align: left;
  margin-bottom: 25px;
  font-size: 2rem; }

.lista_materiales {
  margin-left: 80px;
  margin-bottom: 50px; }

.accordion-item {
  background-color: #FFD59E; }

.accordion-button:not(.collapsed) {
  background-color: #F9FFA4;
  color: black;
  font-size: 4rem; }

.accordion-button {
  background-color: #F9FFA4;
  font-size: 1.5rem; }

.accordion {
  font-size: 2rem; }

.form-control {
  font-size: 2rem; }

html {
  font-size: 62.5%; }

/*Index*/
.LOGO {
  height: 3rem; }

body {
  background-color: #FFD59E;
  padding: 10px;
  margin: 15px;
  border: 10px;
  font-family: "BIZ UDMincho", serif;
  font-size: 2.5rem; }

.principal {
  font-size: 2.5rem;
  font-family: "BIZ UDMincho", serif;
  text-align: justify; }

.titulo_index {
  padding-bottom: 25px;
  font-family: "BIZ UDMincho", serif;
  font-size: 5rem;
  text-align: center; }

.imgPrincipal {
  height: 20%;
  border-radius: 30px;
  margin: 20px; }

/*responsivo*/
@media (max-width: 360px) {
  html {
    font-size: 40%; }
  .cards {
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .logos_footer {
    width: 15px;
    height: 15px; }
  footer {
    font-size: 10px; } }
