@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/*Foooter*/
.foot {
  background-color: #96badf;
  border-radius: 10px;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center; }

.logos_footer {
  width: 30px;
  height: 30px; }

/*links footer*/
.boton-up {
  text-decoration: none;
  font-size: 1.5rem;
  color: black; }

.navbar {
  background-color: #e8c39e;
  border-radius: 20px;
  font-size: 2rem; }

.dropdown-menu {
  font-size: 2rem;
  background-color: #e8c39e; }

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.my-float {
  margin-top: 16px; }

/*Pagina Contacto*/
.tituloContacto {
  text-align: center;
  margin: 10px; }

.contenido-contacto {
  margin-left: 15px;
  margin-bottom: 20px; }

.mapa {
  margin-top: 20px;
  margin-right: 15px; }

/* Pagina Corte Laser */
.titulo_cortelaser {
  text-align: center;
  margin-bottom: 25px;
  font-size: 5rem;
  font-family: "BIZ UDMincho", serif; }

.texto_cortelaser, .divs_cortelaser, .divs_cortelaser_reverse {
  text-align: justify;
  margin-bottom: 25px;
  font-size: 2.5rem; }

.img_cortelaser {
  height: 40rem; }

.divs_cortelaser, .divs_cortelaser_reverse {
  align-items: center; }

.divs_cortelaser_reverse {
  flex-direction: row-reverse; }

.banner2 {
  width: 100%;
  height: 60vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.425)), url("../images/banner2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 2px 2px 2px black; }

.texto_banner2 {
  text-align: center;
  font-size: 2rem; }

/*Pagina Grabados*/
.card {
  width: 30rem;
  margin: 10px;
  font-size: 2rem;
  background-color: #e8c39e; }

.row {
  justify-content: center; }

.titulo_grabados {
  text-align: center;
  font-family: "BIZ UDMincho", serif;
  font-size: 4rem; }

.sub_grabados {
  text-align: left;
  padding: 20px;
  font-size: 3rem; }

.texto_grabados {
  text-align: justify;
  font-size: 2.5rem;
  font-family: "Rubik", sans-serif; }

.lista_grabados {
  text-align: left;
  font-size: 2.5rem;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px; }

.banner3 {
  width: 100%;
  height: 60vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.425)), url("../images/banner3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 2px 2px 2px black; }

/* Pagina Materiales */
.titulo_materiales {
  text-align: center;
  margin-top: 25px;
  font-size: 4rem;
  font-family: "BIZ UDMincho", serif; }

.texto_materiales, .lista_materiales {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2.5rem; }

.lista_materiales {
  margin-left: 80px;
  margin-bottom: 50px; }

.accordion-item {
  background-color: #e8c39e; }

.accordion-button:not(.collapsed) {
  background-color: #e8c39e;
  color: black;
  font-size: 4rem; }

.accordion-button {
  background-color: #f3dbc3;
  font-size: 1.5rem; }

.accordion {
  font-size: 2.5rem; }

.form-control {
  font-size: 2.5rem; }

.banner {
  width: 100%;
  height: 60vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.425)), url("../images/mdf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 2px 2px 2px black; }

#boton-carrito {
  border: none;
  color: royalblue;
  font-size: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all .3s; }

#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: royalblue; }

#boton-carrito:focus {
  outline: none; }

#contenedor-productos {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

p {
  line-height: 1.8; }

.producto {
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3); }

.precioProducto {
  font-weight: 700; }

.boton-agregar {
  background-color: royalblue;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none; }

.boton-agregar:hover {
  cursor: pointer; }

.boton-agregar:focus {
  outline: none; }

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden; }

.modal-active {
  opacity: 1;
  visibility: visible; }

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s; }

.modal-active .modal-carrito {
  margin-top: 0; }

.modal-carrito h3 {
  color: royalblue;
  padding-bottom: 5px; }

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: royalblue;
  border: none;
  background-color: white; }

.modal-carrito #carritoCerrar:hover {
  cursor: pointer; }

.modal-carrito #carritoCerrar:focus {
  outline: none; }

.modal-carrito .precioProducto {
  padding-top: 10px; }

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between; }

.productoEnCarrito:hover {
  border-left: 5px solid royalblue; }

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px; }

.boton-eliminar:hover {
  cursor: pointer; }

.boton-eliminar:focus {
  outline: none; }

html {
  font-size: 62.5%; }

/*Index Probando*/
.LOGO {
  height: 3rem; }

body {
  background-color: #f3dbc3;
  padding: 10px;
  margin: 15px;
  border: 10px;
  font-family: "Rubik", sans-serif;
  font-size: 2.5rem; }

.principal {
  font-size: 2.5rem;
  font-family: "Rubik", sans-serif;
  text-align: justify;
  margin-top: 15px; }

.titulo_index {
  padding-bottom: 25px;
  font-family: "BIZ UDMincho", serif;
  font-size: 5rem;
  text-align: center; }

.imgPrincipal {
  height: 50%;
  border-radius: 30px;
  margin: 20px; }

/*responsivo*/
@media (min-width: 360px) and (max-width: 600px) {
  .foot {
    font-size: 15px; } }
