/*Footer*/
footer{
    background-color: $color-1;
    border-radius: 10px;
    font-family: $Font;
    font-size: 2rem;
    margin-top: 10px;
    justify-content: center;
}
.logos_footer{
    width: 30px;
    height: 30px;
}