.navbar{
    background-color: $color-4;
    border-radius: 20px;
    font-size: 2rem;
}
.dropdown-menu{
    font-size: 2rem;
    background-color: $color-2;
}

#carouselExampleCaptions{
    width: 50%;
}