$color-1: #96badf;
$color-2: #f3dbc3;
$color-3: #f3dbc3;
$color-4: #e8c39e;

$Font: 'BIZ UDMincho', serif;
$Font2: 'Rubik', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@mixin size-estandar{
    font-size: 2.5rem;
}

