/*Pagina Contacto*/
.tituloContacto {
    text-align: center;
    margin: 10px;
}
.contenido-contacto{
    margin-left: 15px;
    margin-bottom: 20px;
}
.mapa{
    margin-top: 20px;
    margin-right: 15px;
}