$t-align: (t-c: center, t-l: left, t-r: right ,t-j: justify);

/* Pagina Corte Laser */
.titulo_cortelaser {
    text-align: map-get($t-align,t-c);
    margin-bottom: 25px;
    font-size: 5rem;
    font-family: $Font;
}
.texto_cortelaser{
    text-align: map-get($t-align,t-j);
    margin-bottom: 25px;
    font-size: 3.5rem;
}
.img_cortelaser{
    height: 40rem;
}

.divs_cortelaser{
    align-items: center;
    @extend .texto_cortelaser;
}

.divs_cortelaser_reverse{
    @extend .divs_cortelaser;
    flex-direction: row-reverse;
}