/* Pagina Corte Laser */
.titulo_cortelaser{
    text-align: center;
    margin-bottom: 25px;
    font-size: 3rem;
}
.texto_cortelaser{
    text-align: left;
    margin-bottom: 25px;
    font-size: 2rem;
}
.lista_cortelaser{
    text-align: justify;
    font-size: 2rem;
}
.img_cortelaser{
    height: 35rem;
}