/*Pagina Grabados*/
.card{
    width: 30rem;
    margin: 10px;
    font-size: 2rem;
    background-color: $color-4;
}
.row{
    justify-content: center;
}
.titulo_grabados{
    text-align: center;
    font-family: $Font;
    font-size: 4rem;
}
.sub_grabados{
    text-align: left;
    padding: 20px;
    font-size: 3rem;
}
.texto_grabados{
    text-align: justify;
    @include size-estandar;
    font-family: $Font2;

}
.lista_grabados{
    text-align: left;
    @include size-estandar;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}